Support KeyonACME service

Hi,
I'm testing the tool with Keyon ACME server - after updating ACME server URL in configuration, of course :-)

Problem is, I have an IIS server that does a bunch of shenanigans (like ADFS redirects), and win-acme fails validation:
Failed to create order: Unexpected response status code [NotFound] for [GetDirectoryAsync]

Keyon ACME server allows the client to specify the port to connect back to - in my case, I selected 55555. The ACME client can then setup provisional HTTP server on the port to run verification (this is in accordance with ACME specs). I tried using WinCertes that has this capability, but it falls short on 2 fronts: doesn't allow updating IIS bindings in this mode, and it utilizes OpenSSL, and I much prefer to use native Windows certificate handling mechanisms, like win-acme does.

Would it be possible to implement similar functionality in win-acme? 

You can specify the port that the self-hosted validation method will listen on from the command line with the `--validationport` switch. That is not communicated from the client to the server though, it's intended use is for NAT/port forwarding scenarios from port 80 to port xxx. I'm not aware of any part of the ACME spec that allows client to indicate a port preference to the server, do you have a reference for that?

In any case the port configuration does not seem to be the issue that you ran into. It already errors out on fetching the ACME service directory. Perhaps you can run with `--verbose` and check the request made from your own browser.

I looked it up because I was pretty sure it's not in ACME. From RFC8555 section 8.3 (HTTP Challenge): ` This request MUST be sent to TCP port 80 on the HTTP server.`

Hm, interesting - it appears Keyon introduced this for better compatibility. I think "port 80" as "MUST" doesn't make sense in some scenarios - granted, for Let's Encrypt it's a must, but for internal CA - not necessarily. I can tell you that firewall situation for port 80 in my company is spotty at best, hence I used a completely different port with "clear" firewall situation.

As a side note - from my point of view, exposing port 80 to the general internet just to get LE certificate is a security risk, as compared to exposing just 443. But maybe that's just me :-)

Hi WouterTinus, the statement is correct that the RFC restricts challenge validation to port 80. However, our product and many ACME clients are more flexible and support configurable HTTP challenge validation ports. Our ACME server product is mostly used by **enterprises internally**, not on the Internet. Most of our customers prefer internally not to use port 80. To keep your ACME client equally flexible, it would be great if you also implemented a configurable HTTP challenge validation port. Best regards

Just as an aside, there is no security risk associated with exposing port 80, that's an internet myth. The only security risk associated with opening any port is with the service that's bound to that port.

You're probably right, no exploits that'd work on 80 that wouldn't work on 443 :-) (yes? no? maybe? idk). I think it's more of "chill down the spine every time you open *some* port on the internet" :-)

And it doesn't render the rest of my argument invalid.

might be better in your situation to just use dns validation then. allows for much more flexibility and probably not difficult to implement if doing things on an internal network

I considered this, but in our reality this would be much more complicated that it may sound, and not a huge improvement over manually requesting certificate issuance (if any). Wincertes tool does verification on different ports, but prefer how win-acme handles keys and certificates.

Also, keep in mind you can make the port 80 exclusion in windows firewall only for `wacs.exe` and thus the port is blocked except when the validation is running. 

> Also, keep in mind you can make the port 80 exclusion in windows firewall only for `wacs.exe` and thus the port is blocked except when the validation is running.

I'm not sure if that works. .NET 5.0 may have improved in that regard but previously with .NET Core 3.1 the Windows Firewall didn't consider our single-file-bundle to be actual running application.

In the meantime, I'm interested to know if my first comment was at all helpful @Stan-Tastic?

So, using `--validationport` will cause the client to wait on specified port, and the server is free to check this port if it likes? That'd work, I initially misunderstood this :)

Plot twist: turns out there's some incompatibility between win-acme and Keyon ACME server.

```
[VERB] Loading ACME account signer...
[VERB] Constructing ACME protocol client...
[DBUG] Send GET request to https://example.com:21443/acme/ws/Acme.svc/KeyonACME/directory
[VERB] Request completed with status OK
[DBUG] Send HEAD request to https://example.com:21443/acme/ws/Acme.svc/new-nonce
[VERB] Request completed with status OK
[VERB] Loading ACME account
[VERB] No account found at C:\ProgramData\win-acme\example.com21443acmewsAcme.svcKeyonACMEdirectory\Registration_v2, creating new one
[VERB] Terms of service downloaded

Enter email(s) for notifications about problems and abuse (comma-separated): user@example.com

[DBUG] Send POST request to https://example.com:21443/acme/ws/Acme.svc/KeyonACME/new-account
[VERB] Request completed with status BadRequest
[EROR] Error creating account
ACMESharp.Protocol.AcmeProtocolException: Unsupported key type
   at ACMESharp.Protocol.AcmeProtocolClient.SendAcmeAsync(Uri uri, HttpMethod method, Object message, HttpStatusCode[] expectedStatuses, Boolean skipNonce, Boolean skipSigning, Boolean includePublicKey, CancellationToken cancel, String opName)
   at ACMESharp.Protocol.AcmeProtocolClient.CreateAccountAsync(IEnumerable`1 contacts, Boolean termsOfServiceAgreed, Object externalAccountBinding, Boolean throwOnExistingAccount, CancellationToken cancel)
   at PKISharp.WACS.Clients.Acme.AcmeClient.LoadAccount(AcmeProtocolClient client, IJwsTool signer)
[EROR] Failed to create order
System.Exception: AcmeClient was unable to find or create an account
   at PKISharp.WACS.Clients.Acme.AcmeClient.ConfigureAcmeClient()
   at PKISharp.WACS.Clients.Acme.AcmeClient.GetClient()
   at PKISharp.WACS.Clients.Acme.AcmeClient.CreateOrder(IEnumerable`1 identifiers)
   at PKISharp.WACS.Clients.Acme.OrderManager.CreateOrder(IEnumerable`1 identifiers, String cacheKey)
```

Server doesn't throw any issues.

A side note: win-acme only asked me for account email when  --test --verbose were enabled. I didn't investigate that much, I'm afraid, I had really terrible VPN experience today.

With the information I have: Our true-Xtender software supports RSA for JSON Web Key signatures (if this is not the case, a badSignatureAlgorithm is returned). Is it possible that win-acme uses a different JWK signing algorithm?

Hi Christoph, you may want to consider extending your algorithm support to be compliant with ACME. RFC8555 section 6.2 says `An ACME server MUST implement the "ES256" signature algorithm`, which is what win-acme uses. There is a fallback to RS256 but that's only triggered when the operation system fails to generate an ES256 key pair initially. 

The "CreateAccount" call comes pretty late in the whole setup process of the client (e.g. we've already got the service directory, got the nonce, checked terms of service, checked if EAB is needed etc. etc.) so it's no trivial fix for us to rewind and start over with an RS256 signer at that point.

Hi WouterTinus, many thanks you for your answer! I will create a request on our side to support ES256. Unfortunately, I must admit that we have not yet tested your win-acme client by ourselves. But we will do so (thanks Stan) after we have analyzed this in more detail internally. We can do that at the beginning of next year and let you know the results.

Hi WouterTinus, I have a question to your source code. It looks like the class "win-acme/src/main.lib/Clients/Acme/AccountSigner.cs" supports RSA keys. What is needed to update your client to use an RSA key for the Account registration? As a temporary solution we think about updating your client.

You can try this build: https://ci.appveyor.com/project/WouterTinus/win-acme-s8t9q/builds/36874639/artifacts

It was annoying me that it was so difficult to add the feature in the registration flow, so I refactored it some.

Hi WouterTinus,  I recognized that the newest client (win-acme.v2.1.13.981) may not follow the correct order of steps  for account registration. Using the version win-acme.v2.1.13.978, the account registration works as expected.
 

Hi, I tested .981 today and here's the result:

```
Enter email(s) for notifications about problems and abuse (comma-separated): test@example.com

 [DBUG] Creating new ES256 signer
[DBUG] Send POST request to https://acme.example.com:21443/acme/ws/Acme.svc/KeyonACME/new-account
[VERB] Request completed with status BadRequest
[DBUG] Creating new RS256 signer
[EROR] Failed to create order
System.Exception: missing next nonce needed to sign request payload
at ACMESharp.Protocol.AcmeProtocolClient.ComputeAcmeSigned(Object message, String requUrl, IJwsTool signer, Boolean includePublicKey, Boolean excludeNonce)
at ACMESharp.Protocol.AcmeProtocolClient.SendAcmeAsync(Uri uri, HttpMethod method, Object message, HttpStatusCode[] expectedStatuses, Boolean skipNonce, Boolean skipSigning, Boolean includePublicKey, CancellationToken cancel, String opName)
at ACMESharp.Protocol.AcmeProtocolClient.CreateAccountAsync(IEnumerable`1 contacts, Boolean termsOfServiceAgreed, Object externalAccountBinding, Boolean throwOnExistingAccount, CancellationToken cancel)
at PKISharp.WACS.Clients.Acme.AcmeClient.CreateAccount(AcmeProtocolClient client, AccountSigner signer, String[] contacts, String eabAlg, String eabKid, String eabKey)
at PKISharp.WACS.Clients.Acme.AcmeClient.SetupAccount(AcmeProtocolClient client)
at PKISharp.WACS.Clients.Acme.AcmeClient.ConfigureAcmeClient()
at PKISharp.WACS.Clients.Acme.AcmeClient.GetClient()
at PKISharp.WACS.Clients.Acme.AcmeClient.CreateOrder(IEnumerable`1 identifiers)
at PKISharp.WACS.Clients.Acme.OrderManager.CreateOrder(IEnumerable`1 identifiers, String cacheKey)

 Create certificate failed, retry? (y/n*)
```

Not sure whose fault is that...

Well, I'm guessing they don't include a new nonce in the error response for the first call, which they SHOULD but not MUST do according to the specification. So technically it's a client bug, but what is unclear is how they implemented their nonce system if errors don't automatically generate a new nonce. 

Are we expected to call newNonce after each error, or can we reuse the previous one? Perhaps @Thomas-Stu or @christoph-bach can comment?

I think this build should get us past that error: https://ci.appveyor.com/project/WouterTinus/win-acme-s8t9q/builds/36949032/artifacts

Theses fixes have been release in 2.1.14, please comment again if you run into more problems.

Sorry for the late feedback. Our nonce system should be implemented in such a way that we return a replay nonce even in case of error messages.

I was able to test now using patch provided by Keyon, and new win-acme version and this still fails :( (although win-acme doesn't crash now):

S E:\OPS\win-acme.v2.1.14.996.x64.trimmed>
[cut]
Enter email(s) for notifications about problems and abuse (comma-separated): test@example.com
[DBUG] Creating new ES256 signer
[DBUG] Send HEAD request to https://acme.example.com:21443/acme/ws/Acme.svc/new-nonce
[VERB] Request completed with status OK
[DBUG] Send POST request to https://acme.example.com:21443/acme/ws/Acme.svc/KeyonACME/new-account
[VERB] Request completed with status BadRequest
[EROR] Failed to create order: Key ID is malformed.
Create certificate failed, retry? (y/n*) - 

I'm guessing this was expected?

win-acme still tries ES256 first, but falls back to RS256 if it gets back a error of type `BadSignatureAlgorithm`. 

It looks like another error is hit now that the developers have added support for ES256. I don't know what that error means, perhaps it refers to the `kid` header of the jwt, but that's not available yet in the case of the `new-account` call. 

I think to get past this we will need help from the server side again, either by returning the `BadSignatureAlgorithm` error like before (so that the fallback to RS256 will be done), or by figuring out why the ES256 is not working in this case. 

**win-acme.v2.1.14.996**
Bi calling /acme/ws/Acme.svc/KeyonWebserverACME/new-account, the KeyId in the protected Header is an empty string and the JsonWebKey is null.
Result on ACME Proxy Server is the error message: Key ID is malformed.


**win-acme.v2.1.13.978**
First chance error calling into ACME server, retrying with new nonce...
[dev-stu.true-xtender.keyon.test] Authorizing...
[dev-stu.true-xtender.keyon.test] Authorizing using http-01 validation (SelfHosting)
[dev-stu.true-xtender.keyon.test] Authorization result: valid
Requesting certificate [Manual] dev-stu.true-xtender.keyon.test
(NullReferenceException): Object reference not set to an instance of an object.

Result on ACME Proxy Server: Certificate has been issued and returned to the client.

20210113-19:41:39:139 [https-jsse-nio-21443-exec-9] DEBUG sid: rid: - Proxy returning response to ACME client with IP fe80:0:0:0:50f2:406a:8c7c:ab43%5
-----BEGIN CERTIFICATE-----
MIIHjTCCBXWgAwIBAgITQAAAEhjdJg0/YpUsiQAAAAASGDANBgkqhkiG9w0BAQsFADBBMQswCQYD
VQQGEwJDSDERMA8GA1UEChMIS2V5b24gQUcxHzAdBgNVBAMTFnRydWUteHRlbmRlciBEZW1vIENB
IDEwHhcNMjEwMTEzMTgzMTIzWhcNMjYwMTEyMTgzMTIzWjAqMSgwJgYDVQQDEx9kZXYtc3R1LnRy
dWUteHRlbmRlci5rZXlvbi50ZXN0MIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAp1vY
qFZ/n0XPxAlaDfPSvky6quO/bSJFzEQUcnxcz90/CK8N2+r4FOousrf7agObv8aEkLKCLSet3+JT
InTTHyAKoJFr7Ih4k0kmNeWszPcE8x1gDxLYpfL4+u2YMPWAX0/CY4g7nPZ4NvFUiKDCIxf7f76W
oGZ/Pz0Yzzf4snM38FFqxtX6Pqzvbc73K2iqDvH2+SoCFnp9KBiEN+K4fV45vHVSnhL2NOqpTk0u
C6oVs2QXBLakt9TcsxqFD3efAr/0/Z2XruHy056ZXsw6ptNH2PsQxGdwxiWpTU94mVLCVYN2rFsb
0wq+LOyoP1KtRGlQEwSz7+xdQO7BJhg4+7OFMCiJikoRJzfIH4tKg9SDGSkTOOjQlhE2WYcjMnPi
HmpytbYpTUHLDuc0Sx49JMaFl9FD/eaqcWG4NnmMBlYT4yfkDz0mvRC7RMjty3Knw+qxUi3FIJkx
KIXWN3oasGu26UUFSRCm5LAvEU8w8rRw8n58+qezgNWnAb7jcZinAgMBAAGjggMTMIIDDzAqBgNV
HREEIzAhgh9kZXYtc3R1LnRydWUteHRlbmRlci5rZXlvbi50ZXN0MB0GA1UdDgQWBBRR8RTvFDen
QvjfoqmuroHhlITanTAfBgNVHSMEGDAWgBRFK7FojbIk4GuTQqakf5L13S9z1TCCAScGA1UdHwSC
AR4wggEaMIIBFqCCARKgggEOhkJodHRwOi8vc2VydmVyMS50cnVlLXh0ZW5kZXIua2V5b24udGVz
dC9jcmwvdHJ1ZS14dGVuZGVyRGVtb0NBMS5jcmyGgcdsZGFwOi8vL0NOPXRydWUteHRlbmRlciUy
MERlbW8lMjBDQSUyMDEsQ049Q0RQLENOPVB1YmxpYyUyMEtleSUyMFNlcnZpY2VzLENOPVNlcnZp
Y2VzLENOPUNvbmZpZ3VyYXRpb24sREM9dHJ1ZS14dGVuZGVyLERDPWtleW9uLERDPXRlc3Q/Y2Vy
dGlmaWNhdGVSZXZvY2F0aW9uTGlzdD9iYXNlP29iamVjdENsYXNzPWNSTERpc3RyaWJ1dGlvblBv
aW50MIGWBggrBgEFBQcBAQSBiTCBhjBOBggrBgEFBQcwAoZCaHR0cDovL3NlcnZlcjEudHJ1ZS14
dGVuZGVyLmtleW9uLnRlc3QvYWlhL3RydWUteHRlbmRlckRlbW9DQTEuY3J0MDQGCCsGAQUFBzAB
hihodHRwOi8vb2NzcC50cnVlLXh0ZW5kZXIua2V5b24udGVzdC9vY3NwMDsGCSsGAQQBgjcVBwQu
MCwGJCsGAQQBgjcVCP3PSILwjA7NiyuD5M8FgZnCBoFbjZ83humuXQIBZAIBSDATBgNVHSUEDDAK
BggrBgEFBQcDATAOBgNVHQ8BAf8EBAMCBaAwXgYDVR0gBFcwVTBTBiYrBgEEAYI3FQiF5Jt/grW0
PoHdmTeGzMpthub7JC6Bp64Yh4nAGDApMCcGCCsGAQUFBwIBFhtodHRwOi8vTk8uQVNTVVJBTkNF
LkFULkFMTAAwGwYJKwYBBAGCNxUKBA4wDDAKBggrBgEFBQcDATANBgkqhkiG9w0BAQsFAAOCAgEA
L+WXmx0fnpXr5JEaT4tCWlMd3rPmjpAbp8nely2U3whGHp9F+lK1t/sQZjPLtiA/mDiArG0AKRyg
gH8SEHPeWMtWiJy4tC53U4htuUNhXCWcmTKCwzvEO6k9P1QQpDyfaCxKFHEuBQtyd9uiB4XhCT/a
SNES3s5bnWu4n3lsqPzpdprkJd63jqqCZ9gMpwZubawG7Qf9ZzjX9UM9SGiqMWC+BwUi71OGLdji
Wxivkiy7e25Hr4Px+0k/To+g/iQdaYqtTzOzXy+ad9k8kLukHF6SCBq3WNKm7Nzj4Aygo1c7Rswo
ZKicC8fwCbJA9ks238l0AvTa5TCLkQjeiGWhKLWN08xp6f61PPBfiRSrFeW4/l83eCZEy65Rmi0R
9OQHTm3cVUPyblru0beYV28Y5FQ/N8H1Ti6Ol1M4I1za3Ubngrdz+cgFUHT7SDMMbiZRjtfAYym4
00DGR+hj/MvpsPw2eO+olBVVXi9GwW+n3LQHtRAkN894gerEqFmnuF474VKw/fQngXJy6b8XjP64
bRsuSO4ow7N0LMG6+GGjtSYKVlB2BN4fsynpBW8HHJmYViD64wQB+DbGA+S+vy2PfZuqQ+O3N832
ylwsf2DilVL7YsehrsPmQYNKLqFnKO/2ocqxQueGHaml3ONat1QuewBFmGRpak2BJL+tYG7FE1M=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIFXTCCA0WgAwIBAgIQMkSaE73GuIxAyzp7DiOHiTANBgkqhkiG9w0BAQsFADBBMQswCQYDVQQG
EwJDSDERMA8GA1UEChMIS2V5b24gQUcxHzAdBgNVBAMTFnRydWUteHRlbmRlciBEZW1vIENBIDEw
HhcNMTMwNzEyMTA1NDIyWhcNMzgwNzEyMTEwNDE3WjBBMQswCQYDVQQGEwJDSDERMA8GA1UEChMI
S2V5b24gQUcxHzAdBgNVBAMTFnRydWUteHRlbmRlciBEZW1vIENBIDEwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQC1WMhwusiGhFQVa66npiNd1eIvJ802845iNVoBId6jr3pbDb5CA1Qy
mjuMzCAS8MPft7h+636rP8MYhRj0jHV9DkgCx41bjdXZpRi0QbBIvlgCglpLx4MZWZckU41R5aJw
7hIHAitC9P1guVOP0mQIHelkKP7urw43pq/sy/h6iKCTFVv18Gm1iRG0riCei0LoLM92+vxh2iTg
PZAgv/oineBx4c4rr6hJq9XIBzQo1qSluJsF7UjcMHbw/WFHDKLXplPXLIDbPWrN6IMEJE72yz5g
1iF5sfgNXMk6kLZW23ea1W6MXAb7/kniBmQq94A+br0plrTOdAFfmDxL2TGH4O4g6IgdaTeql+pn
W7ISD0J+O5CuVmS4KY+4r3EvASSXSROrjvnWSifONmnyAV7kUugXsF+MRBfFxH6cY3nGWrYc83ji
5uizrKs5ClgUodkWYYDxhpkal3r7RyiRBESGHZcbwAu5d6Mkka9R4gKT6VuffAEqTTldR/4QV8FN
K6W8QVPeVeZOCSEvWpoalBlToBTOolHmDRixAWJ5CyZkbqdpldd9p8VrGrvByAq3LAaypiK4H/eW
KtUtuHugTBWZ3UDZMa9DIW6fHuZJB6DVClNk/g5PsQU98E6XFph6NR4dgu3ueqsHp6iwSZvB9Gqo
MuAqwiimatTxS6wtHFLpfwIDAQABo1EwTzALBgNVHQ8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAd
BgNVHQ4EFgQURSuxaI2yJOBrk0KmpH+S9d0vc9UwEAYJKwYBBAGCNxUBBAMCAQAwDQYJKoZIhvcN
AQELBQADggIBAH5W59cSHXUPHChbLqr2hCD2FB2Fcoy5Nyymt+zypn+SwuERTEscVt1GxT9k0hHj
FvKd1+Y0kEbUslYHwPofXEy/+zXVNJy4dj2rYYt39b9QYXm46VNr2qzSp3c2XtQeypRlQmCmVBgC
LhZBvR9IrHcagSeJxGJjC3g4bRF20Rb5K5NMPvMkY7L5n0XL4MSfAgWRqGHkXnRz5qM+w+h82lB7
KTPfJaajsKFwDjIsCQA9mSs3pbqaVDABZJkge/q9VKpbk1im7fWiRV2Vth3Q43iQCV4UyhEpqpjX
tj2PzD2vw37cugC8ZB9Hae/N1RC+d4TsKa/8K1U/db+5zujNpCc1IjeulcOOEBkhUrgJX7bHk7iR
S8/zFcUrsR787uPHcvVLIR/OR6Y9Psac27IzVrJnT1U7vTzGPku6ZHPZE3MWVfvfdrsmMLFpAgMn
tm9NLiO/AhSYrnoDjoTQ8whVQX2UDEfHhjdTrbdQp/XYQPAp2DLWpYZzNtSh3c8OXJQ65x9SyNBo
pOsyf3qDONu1NvP//OmVHqKi7u2yAo8J7veAGiBlCXz07dwhbtA6Cp70H6VY3GLx03o3Y7FfzLVp
G788NkP2lbumsMhYACGa7oOX0OvuzSiy+CBioXoDcSca16nPaFo3ACyjXs42OqJPQKZ3SX9ab4F8
Pk6zddxhh+Uo
-----END CERTIFICATE-----


I suggest that we setup an ACME component for the developers of the win-acme.v2.1.14.996 tool. This component will be available over the internet. Can you please send an email to stucky@keyon.ch and provide your email address and contact details?

Hah, was just about to update this ticket, Thomas beat me to it :-) I will only suggest to either reopen it, or open a new one.

This build fixes some issues and should get us much further: https://ci.appveyor.com/project/WouterTinus/win-acme-s8t9q/builds/37326613/artifacts

I successfully tested the new client build against true-Xtender RA ACME and it works well now.