Unable to find or create an account, The JSON value could not be converted to System

I did not see this particular issue listed in the existing Issues list, my apologies if I missed it. 

I'm attempting to use Win-Acme with private CA but the win-acme client is failing after entering an email address/accepting the ToS. 


**Log**
[EROR] The JSON value could not be converted to System.Nullable`1[System.Boolean]. Path: $.termsOfServiceAgreed | LineNumber: 0 | BytePositionInLine: 95.

Full output attached in .txt. 

**Platform:**
 - OS: Windows Server 2022 Datacenter
 - Version: 2.2.6.1571, 64-bit, pluggable]

[VerboseWinAcme.txt](https://github.com/win-acme/win-acme/files/13789313/VerboseWinAcme.txt)



The problem occurs because your `new-account` endpoint is not returning any account details. While not specifically indicated as a `MUST` by RFC8555 (section 7.3), it is clearly expected (by example) 

> The server creates an account and stores the public key used to
   verify the JWS (i.e., the "jwk" element of the JWS header) to
   authenticate future requests from the account.  The server returns
   this account object in a 201 (Created) response,

And it's done like that by all common ACME services. Your server on the other hand return no content: 

> [VERB] [HTTP] Request completed with status Created
> [VERB] [HTTP] Empty response

If this is something you are developing yourselves, please consider following this convention. If this is a product or service, raise the issue with its developers. It might be possible to come up with a workaround on the client side, but I would rather avoid ugly hacks to encourage non-standard servers.