 Expected challenge type http-01 not available

**Describe the bug**
Using version 2.1.3.671, I'm trying to create a new certificate on a standalone server. When running in --test mode everything is fine. 
Outside of --test mode, I've already set up the certificate without SSL in place, so now I'm attempting to run a renewal using --force --verbose (so I can check the acme challenge works properly with ssl now in place), and I'm getting "Expected challenge type http-01 not available...".
(I do have exceptions for the SSL redirect in place, and I can reach the ACME files using port 80 in my browser when running wacs in --test mode. Just not when it's running in full mode.)

When watching the .well-known\acme-challenge folder, I can see the challenge file being created and then instantly disappearing.

**Expected behavior**
The acme file shouldn't disappear before the challenge can verify it - this didn't occur for me with previously installed 1.9.6.37341.


Here is a cut down version of the command line output (urls and sensitive data removed)

> PS ~\LetsEncrypt> cmd
> Microsoft Windows [Version 10.0.17763.678]
> (c) 2018 Microsoft Corporation. All rights reserved.
> 
> ~\LetsEncrypt>wacs.exe --force --verbose
>  [VERB] Verbose mode logging enabled
>  [VERB] Looking for settings.json in ~\LetsEncrypt
>  [DBUG] Config folder: C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org
>  [DBUG] Log path: C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org\Log
>  [DBUG] Cache path: C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org\Certificates
> 
>  [INFO] A simple Windows ACMEv2 client (WACS)
>  [INFO] Software version 2.1.3.671 (RELEASE, PLUGGABLE)
>  [INFO] IIS not detected
>  [INFO] Running with administrator credentials
>  [INFO] Scheduled task looks healthy
>  [INFO] Please report issues at https://github.com/PKISharp/win-acme
>  [VERB] Test for international support: 語言 язык لغة
>  [VERB] Arguments: --force --verbose
>  [DBUG] Renewal period: 55 days
> 
> 
>  N: Create new certificate (simple for IIS)
>  M: Create new certificate (full options)
>  L: List scheduled renewals
>  R: Renew scheduled
>  S: Renew specific
>  A: Renew *all*
>  O: More options...
>  Q: Quit
> 
>  Please choose from the menu: m
> 
>  [INFO] Running in mode: Interactive, Advanced, IgnoreCache
> 
>   Please specify how the list of domain names that will be included in the
>   certificate should be determined. If you choose for one of the "all bindings"
>   options, the list will automatically be updated for future renewals to
>   reflect the bindings at that time.
> 
>  1: Manual input
>  2: CSR created by another program
>  C: Abort
> 
>  How shall we determine the domain(s) to include in the certificate?: 1
> 
>  Enter comma-separated list of host names, starting with the common name: server.servername.com
> 
>  [INFO] Target generated using plugin Manual: server.servername.com
> 
>  Suggested friendly name '[Manual] server.servername.com', press <ENTER> to accept or type an alternative: <Enter>
> 
>   The ACME server will need to verify that you are the owner of the domain
>   names that you are requesting the certificate for. This happens both during
>   initial setup *and* for every future renewal. There are two main methods of
>   doing so: answering specific http requests (http-01) or create specific dns
>   records (dns-01). For wildcard domains the latter is the only option. Various
>   additional plugins are available from https://github.com/PKISharp/win-acme/.
> 
>  1: [http-01] Save verification files on (network) path
>  2: [http-01] Serve verification files from memory (recommended)
>  3: [http-01] Upload verification files via FTP(S)
>  4: [http-01] Upload verification files via SSH-FTP
>  5: [http-01] Upload verification files via WebDav
>  6: [dns-01] Create verification records manually (auto-renew not possible)
>  7: [dns-01] Create verification records with acme-dns (https://github.com/joohoi/acme-dns)
>  8: [dns-01] Create verification records with your own script
>  9: [tls-alpn-01] Answer TLS verification request from win-acme
>  C: Abort
> 
>  How would you like prove ownership for the domain(s) in the certificate?: 1
> 
>  Path to the root of the site that will handle authentication: ~\htdocs\
> 
>  Copy default web.config before validation? (y/n*)  - no
> 
>   After ownership of the domain(s) has been proven, we will create a
>   Certificate Signing Request (CSR) to obtain the actual certificate. The CSR
>   determines properties of the certificate like which (type of) key to use. If
>   you are not sure what to pick here, RSA is the safe default.
> 
>  1: Elliptic Curve key
>  2: RSA key
> 
>  What kind of private key should be used for the certificate?: 2
> 
>   When we have the certificate, you can store in one or more ways to make it
>   accessible to your applications. The Windows Certificate Store is the default
>   location for IIS (unless you are managing a cluster of them).
> 
>  1: IIS Central Certificate Store (.pfx per domain)
>  2: PEM encoded files (Apache, nginx, etc.)
>  3: Windows Certificate Store
>  C: Abort
> 
>  How would you like to store the certificate?: 2
> 
>  Path to folder where .pem files are stored: ~\bin\certificates\
> 
>  1: IIS Central Certificate Store (.pfx per domain)
>  2: Windows Certificate Store
>  3: No additional storage steps required
>  C: Abort
> 
>  Would you like to store it in another way too?: 3
> 
>   With the certificate saved to the store(s) of your choice, you may choose one
>   or more steps to update your applications, e.g. to configure the new
>   thumbprint, or to update bindings.
> 
>  1: Create or update https bindings in IIS
>  2: Create or update ftps bindings in IIS
>  3: Start external script or program
>  4: Do not run any (extra) installation steps
> 
>  Which installation step should run first?: 4
> 
>  Existing renewal:    [Manual] server.servername.com - renewed 1 time,
>                       due after 2020/4/1 14:00:59
> 
>  Overwrite? (y*/n)  - yes
> 
>  [WARN] Overwriting previously created renewal
>  [VERB] Loading ACME account signer...
>  [DBUG] Loading signer from C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org\Signer_v2
>  [VERB] Constructing ACME protocol client...
>  [DBUG] Send GET request to https://acme-v02.api.letsencrypt.org/directory
>  [VERB] Request completed with status OK
>  [DBUG] Send HEAD request to https://acme-v02.api.letsencrypt.org/acme/new-nonce
>  [VERB] Request completed with status OK
>  [DBUG] Loading account information from C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org\Registration_v2
>  [DBUG] Send POST request to https://acme-v02.api.letsencrypt.org/acme/new-order
>  [VERB] Request completed with status Created
>  [DBUG] Send POST request to https://acme-v02.api.letsencrypt.org/acme/authz-v3/2633792963
>  [VERB] Request completed with status OK
>  [INFO] Authorize identifier: server.servername.com
>  [EROR] Expected challenge type http-01 not available for server.servername.com.
> 
>  Create certificate failed, retry? (y/n*)

**Platform:**
 - OS: windows server 2019
 - Version: 2.1.3.671, 64-bit, pluggable
 - Web server: Apache 2.4.4.3


This is all highly curious, but maybe this is a clue. When I try to create a certificate for your domain (the real one is shown in the log you posted, you may want to delete that...) I run into:

[EROR] (AcmeProtocolException): Error creating new order :: too many certificates already issued for exact set of domains: xxxxx: see https://letsencrypt.org/docs/rate-limits/

Do you get that error as well, or is it somehow swallowed?

No I wasn't getting the rate limits, it's not surprising that the limit has now been hit though as I couldn't replicate the issue in --test mode, and I created a fresh certificate and task this morning with the v1.9.6 client.
Is there any more info I can collect for you that may be useful?

I'll have to prepare a build for you that dumps the raw communications between Let's Encrypt and the program to see what's going on here. I'd very curious to see if the challenge is actually missing or not.

Can you try this version? It should provide some additional insights: https://ci.appveyor.com/project/WouterTinus/win-acme-s8t9q/builds/30658388/artifacts

Sorry for the delay @WouterTinus, I'll try this out and get back to you shortly.
Thanks again for your help so far!



So today I'm getting the rate limit error, which is odd because it should have reset by now if it had actually hit the Let's Encrypt rate limit. Even more odd is that crt.sh only shows 4 certificates issued last week..

Still hitting rate limits today. I thought it should be reset by now, but perhaps the following will shed some light on this? I ran with the --test and --force switches again and noticed this:

>  [WARN] Preliminary validation failed, the server answered '(null)' instead of 'WffTFaiJOAlzIWMyuz5udv0Z_JbM9M6tMATIpcHHwRw.kxwG-tdhv8ek02RbyceKRKqTkRwOdl8OmiH56YRnTkw'. The ACME server might have a different perspective
>  [DBUG] Submitting challenge answer
>  [DBUG] Send POST request to https://acme-staging-v02.api.letsencrypt.org/acme/chall-v3/37370056/iHSncg
>  [VERB] Request completed with status OK

@WouterTinus rate limits finally reset, now I'm running into the original problem again:

>  [WARN] Overwriting previously created renewal
>  [VERB] Creating certificate order for hosts: ["server.host.com"]
>  [VERB] Loading ACME account signer...
>  [DBUG] Loading signer from C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org\Signer_v2
>  [VERB] Constructing ACME protocol client...
>  [DBUG] Send GET request to https://acme-v02.api.letsencrypt.org/directory
>  [VERB] Request completed with status OK
>  [DBUG] Send HEAD request to https://acme-v02.api.letsencrypt.org/acme/new-nonce
>  [VERB] Request completed with status OK
>  [DBUG] Loading account information from C:\ProgramData\win-acme\acme-v02.api.letsencrypt.org\Registration_v2
>  [DBUG] Send POST request to https://acme-v02.api.letsencrypt.org/acme/new-order
>  [VERB] Request completed with status Created
>  [VERB] Order https://acme-v02.api.letsencrypt.org/acme/order/77324112/2354338447 created
>  [VERB] Handle authorization 1/2
>  [DBUG] Send POST request to https://acme-v02.api.letsencrypt.org/acme/authz-v3/2633792963
>  [VERB] Request completed with status OK
>  [INFO] Authorize identifier: server.host.com
>  [VERB] Challenge types available: ["tls-alpn-01"]
>  [EROR] Expected challenge type http-01 not available for server.host.com.
[log-20200217.txt](https://github.com/win-acme/win-acme/files/4211303/log-20200217.txt)


@cpu any idea why we would see only the tls-alpn challenge for this order and none of the other types?

@WouterTinus Yes, it is because the authorization's `tls-alpn-01` challenge was POSTed and completed successfully, making the authorization `"status":"valid".

We previously returned all of the challenge types in this situation but that changed in January. The new behaviour matches the text in [RFC 8555 § 7.1.4](https://tools.ietf.org/html/rfc8555#section-7.1.4). See [this API announcement for more details](https://community.letsencrypt.org/t/acme-v1-v2-changing-challenges-returned-for-invalid-valid-authorizations/1076).

Thanks Daniel! Normally we would detect that the authorisation is already valid and immediately return, but because @henrywol uses the `--force` switch we try to resubmit the validation anyway, which doesn't work when the type has changed because the challenge is not there anymore. I've altered the logic a bit to deal with these circumstances and give proper feedback.

Build incoming at https://ci.appveyor.com/project/WouterTinus/win-acme-s8t9q/builds/30889720/artifacts

@WouterTinus @cpu thanks for your help!
Apologies I haven't had a chance to test the latest build but will do over the weekend

It worked! Thank you!!